
<!-- Sub-Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="subNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'User List', tenant_admin_users_list_path(id: @tenant), class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Project List', tenant_admin_projects_list_path(id: @tenant), class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Task List', tenant_admin_task_list_path(id: @tenant), class: "nav-link active" %>
      </li>
    </ul>
  </div>
</nav>
