<!-- app/views/assignment_mailer/assignment_reminder.html.erb -->
<p>Hello <%= @user.first_name %>,</p>

<p>This is a reminder that today is the last day to complete your assignment titled "<%= @assignment.title %>".</p>

<p>Best regards,<br>Your Project Management Team</p>